In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [54]:
df1 = pd.read_csv("Data.csv")

In [55]:
imputer = SimpleImputer(strategy = 'mean')
out = imputer.fit_transform(df1[['Salary', 'Age']])

In [56]:
df1

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [57]:
df1['Salary'] = out[:,0]
df1['Age'] = out[:,1]

In [58]:
df1['Age'] = round(df1['Age'], 0)
df1['Salary'] = round(df1['Salary'], 0)

Encoding
1. Use LabelEncoder if there are only two unique value in a col
2. Use OneEncoder if there are more than two unique value in a col

In [22]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [59]:
lenc = LabelEncoder()
df1['Purchased_encoded'] = lenc.fit_transform(df1['Purchased'])

In [60]:
oenc = OneHotEncoder()
enc_country = oenc.fit_transform(df1[['Country']]).toarray

In [61]:
#Binning
sal_name = ['low', 'mid', 'high']
bins = np.linspace(df1.Salary.min(), df1.Salary.max(), 4)
df1['Sal_grp'] = pd.cut(df1.Salary, bins, labels = sal_name, include_lowest = True)

Splitting the dataset

In [44]:
df = pd.read_csv("mycar.csv")

In [46]:
x = df[['speed']]
y = df['dist']

In [49]:
from sklearn.model_selection import train_test_split

In [50]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [53]:
print(f"No. of rows in main dataset {x.shape}")
print(f"No. of rows in x_train dataset {x_train.shape}")
print(f"No. of rows in x_test dataset {x_test.shape}")
print(f"No. of rows in y_train dataset {y_train.shape}")
print(f"No. of rows in y_test dataset {y_test.shape}")

No. of rows in main dataset (50, 1)
No. of rows in x_train dataset (40, 1)
No. of rows in x_test dataset (10, 1)
No. of rows in y_train dataset (40,)
No. of rows in y_test dataset (10,)

Feature Scaling

In [62]:
from sklearn.preprocessing import StandardScaler

In [68]:
x1 = df1[['Age', 'Salary']]
y1 = df1['Purchased']
x_train, x_test, y_train, y_test = train_test_split(x1, y1, test_size = 0.2, random_state = 0)

In [69]:
ss = StandardScaler()
x_train = ss.fit_transform(x_train)
x_test = ss.fit_transform(x_test)

In [71]:
x_train
x_test

array([[-1., -1.],
       [ 1.,  1.]])

Linear regression

In [72]:
from sklearn.linear_model import LinearRegression

In [116]:
df2 = pd.read_csv("mycar.csv")
x = df[['speed']]
y = df['dist']
trainx, testx, trainy, testy = train_test_split(x, y, test_size = 0.45, random_state= 1)
reg = LinearRegression()
reg.fit(trainx, trainy)
reg.score(testx, testy) *100

53.71840092765974